<div>
<textarea ng-model="vm.fileContent" ng-change="vm.radarAndTextPlotData()" rows="4" cols="75" placeholder="Paste your csv file contents here..."></textarea>
    <div class="form-group">

        <input type="file"  accept=".csv" ng-model="vm.fileContent" ng-change="vm.radarAndTextPlotData()" file-reader="vm.fileContent" />
        <label class="image-upload" for="file-input" ng-if="vm.fileContent">
            <img src="../../icons/plus-sign-button.svg"/>&nbsp;&nbsp;Add a .csv file
            <input  id="file-input" accept=".csv" type="file" ng-model="vm.fileContentAdded" ng-change="vm.addNewSeries()" file-reader="vm.fileContentAdded" />
        </label>
        <small id="fileHelp" class="form-text text-muted">Select and upload a .csv file. </small>


        <ul class="nav nav-pills" ng-if="vm.fileContent">
            <li class="nav-item dropdown">
                <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">Select Performance Features<b class="caret"></b></a>-->
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Select Performance Features</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="feature in vm.listOfFeatures track by $index">
                        <div class="checkbox">
                            <label>
                                &nbsp;<input type="checkbox" ng-value="vm.selectedFeatures[$index]" ng-model="vm.selectedFeatures[$index]">&nbsp;{{feature}}
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="nav nav-pills" ng-if="vm.fileContent">
            <li class="nav-item dropdown">
                <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">Select Performance Features<b class="caret"></b></a>-->
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Select Interactions</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="interaction in vm.interactions track by $index">
                        <div class="checkbox">
                            <label>
                                &nbsp;<input type="checkbox" ng-value="{{interaction}}" ng-model="vm.selectedInteractions[$index]">&nbsp;{{interaction}}
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <table border="1"  ng-if="vm.fileContent" class="blueTable">
            <thead>
            <tr>
                <th ng-repeat="column in vm.configElementHeaders"
                    ng-init="isXX = column.indexOf('XX') === 0">
                    <span ng-if="isXX">{{column.substring(3).replace('_', ' ')}}</span>
                    <span ng-if="!isXX">{{column}}</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in vm.configElement">
                <td ng-repeat="column in vm.configElementHeaders" ng-init="isXX = column.indexOf('XX') === 0">
                    <div ng-if="isXX" >
                        <span> </span>
                        <div ng-switch="row[column].type">
                            <color-picker ng-switch-when="INPUT_TYPE" ng-model="row[column].lineColor"></color-picker>
                            <input min="1" ng-switch-when='NUMBER_INPUT' ng-model="row[column].lineWidth" type="number" />
                        </div>
                    </div>
                    <div ng-if="!isXX" >
                        <span> {{row[column]}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


<div ng-cloak  ng-if="vm.fileContent">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Radar Chart">
                <md-content class="md-padding">
                    <radar-chart chart-config="vm.plotData"
                                 additional-series="vm.additionalSeriesForRadarAndTextplot"
                                 selected-features="vm.selectedFeatures"
                                 selected-interactions = "vm.selectedInteractions"
                                 chart-config-filters = "vm.dataToUpdate"
                                 chart-config-labels = "vm.labels"
                                 chart-viz-info ="vm.configElement">
                    </radar-chart>
                </md-content>
            </md-tab>
            <md-tab label="Text Plot">
                <md-content class="md-padding">
                    <text-plot chart-config="vm.plotData"
                               additional-series="vm.additionalSeriesForRadarAndTextplot"
                               textplot-selected-features="vm.selectedFeatures"
                               selected-interactions = "vm.selectedInteractions"
                               textplot-chart-config-filters = "vm.dataToUpdate"
                               textplot-chart-config-labels = "vm.labels"
                               chart-viz-info ="vm.configElement">
                    </text-plot>
                </md-content>
            </md-tab>
            <md-tab label="Elephant Plot">
                <md-content class="md-padding">
                    <elephant-plot  chart-config="vm.elephantConfig"
                                    additional-series=" vm.elephantConfigNew"
                                    all-csv-data="vm.allCsvData"
                                    all-groups="vm.groups"
                                    all-labels ="vm.allLabels"
                                    selected-features="vm.selectedFeatures"
                                    selected-interactions = "vm.selectedInteractions">
                    </elephant-plot>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

