<div>
<textarea ng-model="vm.fileContent" ng-change="vm.radarAndTextPlotData()" rows="4" cols="75" placeholder="Paste your csv file contents here..."></textarea>
    <div class="form-group">

        <input type="file"  accept=".csv" ng-model="vm.fileContent" ng-change="vm.radarAndTextPlotData()" file-reader="vm.fileContent" />
        <label class="image-upload" for="file-input" ng-if="vm.fileContent">
            <img src="../../icons/plus-sign-button.svg"/>&nbsp;&nbsp;Add a .csv file
            <input  id="file-input" accept=".csv" type="file" ng-model="vm.fileContentAdded" ng-change="vm.addNewSeries()" file-reader="vm.fileContentAdded" />
        </label>
        <small id="fileHelp" class="form-text text-muted">Select and upload a .csv file. </small>


        <ul class="nav nav-pills" ng-if="vm.fileContent">
            <li class="nav-item dropdown">
                <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">Select Performance Features<b class="caret"></b></a>-->
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Select Performance Features</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="feature in vm.listOfFeatures track by $index">
                        <div class="checkbox">
                            <label>
                                &nbsp;<input type="checkbox" ng-value="vm.selectedFeatures[$index]" ng-model="vm.selectedFeatures[$index]">&nbsp;{{feature}}
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="nav nav-pills" ng-if="vm.fileContent">
            <li class="nav-item dropdown">
                <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">Select Performance Features<b class="caret"></b></a>-->
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Select Interactions</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="interaction in vm.interactions track by $index">
                        <div class="checkbox">
                            <label>
                                &nbsp;<input type="checkbox" ng-value="{{interaction}}" ng-model="vm.selectedInteractions[$index]">&nbsp;{{interaction}}
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>



    </div>
</div>

<div ng-if="vm.fileContent">




<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" data-target="#radar">Radar Chart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" data-target="#textplot">Text Plot</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" data-target="#elephantplot">Elephant Plot</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content" style="background-color:white">
    <div class="tab-pane fade active show" id="radar">
        <radar-chart chart-config="vm.plotData"
                     additional-series="vm.plotDataNewSeries"
                     selected-features="vm.selectedFeatures"
                     selected-interactions = "vm.selectedInteractions"
                     chart-config-filters = "vm.dataToUpdate"
                     chart-config-labels = "vm.labels">

        </radar-chart>
    </div>
    <div class="tab-pane fade" id="textplot">
        <text-plot chart-config="vm.plotData"
                   additional-series="vm.plotDataNewSeries"
                   textplot-selected-features="vm.selectedFeatures"
                   selected-interactions = "vm.selectedInteractions"
                   textplot-chart-config-filters = "vm.dataToUpdate"
                   textplot-chart-config-labels = "vm.labels">

        </text-plot>
    </div>
    <div class="tab-pane fade" id="elephantplot">
        <elephant-plot  chart-config="vm.elephantConfig"
                        additional-series=" vm.elephantConfigNew"
                        all-csv-data="vm.allCsvData"
                        all-groups="vm.groups"
                        all-labels ="vm.allLabels"
                        selected-features="vm.selectedFeatures"
                        selected-interactions = "vm.selectedInteractions">
        </elephant-plot>
    </div>
</div>
</div>