
.tab-pane{
    border: 1px solid #4E5D6C;
}

.tab-content > div{
    border: 1px solid #4E5D6C;
}

#myTabContent{
    /*background-color: white;*/
    color:black;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{

    width: 25px;
    cursor: pointer;
}

.image-upload{
    margin-left:17%;
    cursor: pointer;
}