<div>
<textarea ng-model="vm.fileContent" rows="4" cols="75" placeholder="Paste your csv file contents here..."></textarea>
    <div class="form-group">

        <input type="file" file-reader="vm.fileContent" />

        <!--<p>{{vm.plotData}}</p>-->
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>


       <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item"  ng-value="vm.feature" ng-repeat="feature in vm.labels"><input type="checkbox"/>&nbsp;{{feature}}</a>
            </div>
            {{vm.feature}}
        </li>
        </ul>
</div>
</div>

<div ng-if="vm.fileContent">
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#radar">Radar Chart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#textplot">Text Plot</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#elephantplot">Elephant Plot</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content" style="background-color:white">
    <div class="tab-pane fade active show" id="radar">
        <radar-chart chart-config="vm.plotData"></radar-chart>
    </div>
    <div class="tab-pane fade" id="textplot">
        <text-plot chart-config="vm.plotData"></text-plot>
    </div>
    <div class="tab-pane fade" id="elephantplot">
        <elephant-plot  chart-config="vm.elephantConfig"></elephant-plot>
    </div>
</div>
</div>