<div class="container">
        <div class="col-xs-12 chart-outer">
            <div id="container"></div>
        </div>
      <!--  <div class="col-xs-6 editPane">
            <div class="form-group">
                <label  class="col-sm-10 col-form-label">Update Chart configuration</label>
                <div class="col-sm-12 row">
                    <label  class="col-form-label">Line Width :</label>
                    <input type="number" ng-change="vm.updateLineWidth()" class="form-control-plaintext inputType" ng-model="vm.PlotLineWidth">
                </div>

                <div class="col-sm-12 row">
                    <label  class="col-form-label">Line color :</label>
                    <input type="text" ng-change="vm.updatePlotLineColor()" class="form-control-plaintext inputType"  ng-model="vm.PlotLineColor">
                    <div id="cp2" class="input-group colorpicker-component">
                        <input type="text" value="#00AABB" class="form-control" />
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <div class="col-sm-12 row">
                    <label  class="col-form-label">Line color :</label>
                    <input type="text" ng-change="vm.updatePlotLineColor2()" class="form-control-plaintext inputType"  ng-model="vm.PlotLineColor2">
                </div>
            </div>
        </div>-->
</div>






