.editPane{
    border:1px solid grey;
    width: 400px;
    margin:5px;
}

.inputType{

    border: 1px solid grey;
}

.highcharts-container {
    margin: 0 auto;
}

.container highcharts-axis-labels span{
    word-break:break-all!important;
    width:200px!important;
    /*white-space:normal!important;*/
}