<h3>Upload .csv file</h3>

<div class="Block">
  <label id="lbl">Upload a .csv file </label>
  <input type="file" class="upload" (change)="changeListener($event.target.files)"  accept=".csv"/>
</div>

<!--<div>-->
  <!--<svg width="100%" height="500" class="mySvg" (click)="clicked($event)"></svg>-->
<!--</div>-->

<svg [attr.height]="height" [attr.width]="width">
  <g [attr.transform]="transform">
    <rect
      *ngFor="let item of data"
      [attr.height]="barHeights[i]"
      [attr.width]="barWidth"
      [attr.x]="xCoordinates[i]"
      [attr.y]="0"
      fill="skyblue">
    </rect>
  </g>
</svg>

<p>
  barchart works!
</p>
<h3>{{filename}}</h3>
<h3>{{filesize}}</h3>
<h3>{{filetype}}</h3>
<!--<p>{{filedata}}</p>-->   <!-- the red color to this paragraph does not apply since the d3.select works on page onInit  -->



<!--<ul>-->
  <!--<li *ngFor="let chart  of barchart">-->
    <!--{{chart.text}}-->
<!--</li>-->
<!--</ul>-->
